extends layout

block content
  .container
    .row-fluid
      .span12
        .fb-title
          h1= title
          p.path= app.rootDir
        .fb-page
            h3 common
            .options
              span.status 
              a#fb-build-common.build-btn.btn(href='/build-common?root=#{app.rootDir}') Build
        .pages
          - each pages, pageName in groups
            .fb-page
              h3= pageName
              ul.versions
                - each page in pages
                  li.version
                    //- input.versionCheck(type='checkbox')
                    a.version_no(href='/page/#{page.name}@#{page.version}?root=#{app.rootDir}')= page.version
                    .options.form-inline
                      .input-prepend
                        span.status
                        |&nbsp;
                        span.add-on
                          i.icon-calendar
                        input.timestamp-input(type='text')
                        |&nbsp;
                        a.btn.fb-build-page(href='/build-page/#{page.name}@#{page.version}?root=#{app.rootDir}')
                          |Build
                //- .clearfix
                  .version-add.version.form-inline
                    input(type='text')
                    |&nbsp;
                    a.btn
                      i.icon-plus
        .fb-page
          .row-fluid
            .span12
              .form-inline.form-page-add
                input.input-small(type='text',placeholder='pagename')
                |&nbsp;
                input.input-small(type='text',placeholder='version')
                |&nbsp;
                button.btn(type='submit') Add
  script
    KISSY.use('page/index');
