extends layout

block content
  .container
    .row-fluid
      .span12
        .fb-title
          h1= title
          p.path= app.rootDir
        .fb-common
            h3 common
            .options
              span.status 
              a#fb-build-common.build-btn.btn(href='/build-common?root=#{app.rootDir}') Build
    .row-fluid.fb-pages
      .span8
        .pages
          - each pages, pageName in groups
            .fb-page
              ul.versions
                - each page in pages
                  li.version
                    //- input.versionCheck(type='checkbox')
                    a.version_no(href='/page/#{page.name}@#{page.version}?root=#{app.rootDir}') #{pageName}/#{page.version}
                    .options
                      .version-check
                        input.j-version-checkbox(type='checkbox',value='#{page.name}/#{page.version}')
        form.form-inline.form-page-add(method='post', action=getUrl('/add-page'))
          input(type='hidden', value=app.rootDir, name='root')
          input.input-medium(type='text', name='pagename', placeholder='pagename')
          |&nbsp;
          input.input-medium(type='text', name='version', placeholder='ver(eg. 1.0)')
          |&nbsp;
          button.j-group-build.btn(type='submit') ADD
      .span4
        .form
          - if (app.config.groups && app.config.groups.length)
            h3 groups
            ul.groups.nav.nav-tabs.nav-stacked
              li.groups-item
                a.j-select-group(href='#', title='') none
              - each group, groupname in app.config.groups
                li.groups-item
                  a.j-select-group(href='#', title=group.join(","))= groupname
          .input-prepend
            
            span.add-on
              i.icon-calendar
            input.input-small.timestamp-input(type='text')
            |&nbsp;
            a.btn.fb-build-page(href=getUrl('/build-pages', {root: app.rootDir}), data-group-build='true')
              |Build
            br
            span.status
    .row-fluid
      .span12
  script.
    KISSY.use('page/index', function (S, Page) {
      var rootDir = '#{app.rootDir}';
      if (Page.appHistory && rootDir) {
        Page.appHistory.push(rootDir);
      }
    });
