extends layout

block content
  .container
    .row-fluid
      .span12
        .fb-title
          h1 
            a(href='/app?root=#{app.rootDir}')= app.name
            |/ 
            span= title
            |/
            sapn= page.version
          p.path= page.rootDir

          .buildto.form-inline
            input(type='text')
            |&nbsp;
            a.btn(href='#') build
            |&nbsp;
            .status

        ul.timestamps
          - each ts in timestamps
            li= ts