extends layout

block content
  .container
    .row-fluid
      .span12
        .fb-title
          h1 
            a(href='/app?root=#{app.rootDir}')= app.name
            |/ 
            span= page.name
            |/
            sapn= page.version
          p.path= page.rootDir

          .buildto.form-inline.buildto-version.buildto-block
            .input-prepend.input-append
              span.add-on
                i.icon-calendar
              input.input-small.timestamp-input(type='text')
              |&nbsp;
              a.btn.fb-build-page(href=getUrl('/build-page/#{page.name}@#{page.version}', {root: app.rootDir}))
                |Build            
              span.status

        #reports
        ul.timestamps
          - each ts in timestamps
            li 
              span.build-timestamp.timestamp #{ts.timestamp}
              - if(ts.build)
                span.build-version from #{ts.build.build_version}
                span.build-time
                  i.icon-time(title='用时')
                  | &nbsp;
                  | #{ts.build.build_used_time}ms
  script
    KISSY.use('page/index');